<%-include('../../partials/adminHeader')-%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

</head>

<body>
    <div class="screen-overlay"></div>
    <%-include('aside')-%>
    <main class="main-wrap">
<%- include('../../partials/adminNavbar')-%>
      
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                       
                            <div class="col-lg-2 col-6 col-md-3">
                                <form action="" id="formStatus">
                                <select class="form-select" name="status" onchange="submitForm()">
                                    <option value=" "></option>
                                    <option value="Order Placed">Order Placed</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Confirmed">Confirmed</option>
                                    <option value="Delivered">Delivered</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Returned">Returned</option>
                                    
                                </select>
                            </form>
                            </div>
                       
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Reference Id</th>
                                    <!-- <th scope="col">Name</th> -->
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Order Status</th>
                                    <th scope="col">Change</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                               
                                <% if (order.length > 0) { %>
                                    <% order.forEach((orderItem,index) => { %>
                                <tr>
                                    <form action="">
                                    <td><%=index+1%></td>
                                    <td> <%= orderItem.orderId %></td>
                                    <!-- <td><b>Leslie Alexander</b></td> -->
                                    <!-- <td><template class="__cf_email__" data-cfemail="b7dbd2c4dbded2f7d2cfd6dac7dbd299d4d8da">[email&#160;protected]</template></td> -->
                                    <td><%= orderItem.totalAmount %></td>
                                    <td><span class="badge rounded-pill text-success"><%= orderItem.paymentMethod %></span></td>
                                    <td><%=orderItem.orderDate.toLocaleDateString()%></td>
                                    <% if( orderItem.paymentStatus == "Success") { %>
                                    <td><span class="badge rounded-pill alert-success" id="paymentStatusSelect_<%=index%>"><%= orderItem.paymentStatus %></span></td>
                                    <% } else {%>
                                    <td><span class="badge rounded-pill alert-warning" id="paymentStatusSelect_<%=index%>"><%= orderItem.paymentStatus %></span></td>
                                        <% } %>
                                    <td><span class="badge rounded-pill alert-primary" id="orderStatus_<%=index%>"><%= orderItem.orderStatus %></span></td>
                                    <td>
                                        <div class="col-lg-6 col-md-6 m-auto text-md-end w-100">
                                            <select class="form-select d-inline-block mb-lg-0 mb-15" name="updatedStatus" id="statusSelect_<%=index%>">
                                                <% if (orderItem.orderStatus === 'Order Placed') { %>
                                                    <option><%= orderItem.orderStatus %></option>
                                                    <option>Confirmed</option>
                                                    <option>Shipped</option>
                                                    <option>Delivered</option>
                                                    <option>Cancelled</option>
                                                <% } else if (orderItem.orderStatus === 'Confirmed') { %>
                                                    <option><%= orderItem.orderStatus %></option>
                                                    <option>Shipped</option>
                                                    <option>Delivered</option>
                                                <% } else if (orderItem.orderStatus === 'Shipped') { %>
                                                        <option><%= orderItem.orderStatus %></option>
                                                        <option>Delivered</option>
                                                <% } else { %>
                                                    <option><%= orderItem.orderStatus %></option>
                                                <% } %>
                                            </select>
                                            
                                           
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <a  class="btn btn-md rounded font-sm" onclick="changeStatus('<%=orderItem._id%>','<%= index %>')">Change Status</a>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/admin/orders/orderDetails?id=<%=orderItem._id%>">View detail</a>
                                               
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                            </form>
                                <% }); %>
                                <%  } else { %>
                                        <p>No Orders available</p>
                                    <% } %>
                               
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <!-- Pagination  -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <% if (currentPage > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                        </li>
                    <% } %>
        
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
        
                    <% if (currentPage < totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
        </section> <!-- content-main end// -->
        


        <script>


        </script>

<script>
    function submitForm() {
        document.getElementById('formStatus').submit();
    }
</script>

        <script>
            function changeStatus(id,index) {
                console.log("Id; ",id,"index :",index)
                const selectedStatus = document.getElementById(`statusSelect_${index}`).value;
                const paymentStatus = document.getElementById(`paymentStatusSelect_${index}`).innerText;
                console.log(selectedStatus)
                // toastr.success("hhhhhhh")
                Swal.fire({
                title: "Are you sure to change status",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#046963",
                cancelButtonColor: "#d33",
                confirmButtonText: "Change Status"
                }).then((result) => {
                if (result.isConfirmed) {
                    fetch('/admin/orders/changeStatus',{
                    method:'post',
                    headers:{
                        'Content-Type':'application/json',
                    },
                    body:JSON.stringify({
                        id:id,
                        index:index,
                        status:selectedStatus,
                        paymentStatus:paymentStatus
                    }),
                })
                .then(response => response.json())
                .then(data => {
                   
                    

                    console.log("the response recieved");
                    if(data.message){
                        toastr.success(data.message)
                    }
                    if(data.successMessage){
                        toastr.success(data.successMessage)
                         document.getElementById(`orderStatus_${index}`).innerText = data.changedOrderStatus;
                        //  console.log('Changed order status :',data.changedOrderStatus)
                        changeColor(data.changedOrderStatus,index)
                    }
                    if(data.errorMessage){
                        toastr.success(data.errorMessage)
                    }
                })
                .catch(error => {
                    console.error('Error updating quantity:', error);
                });
                 }
            })
            }
         

            function changeColor(status,index){
                console.log("change order color worked")
                console.log(status,index)

                switch (status) {
                case 'Shipped':
                document.getElementById(`orderStatus_${index}`).classList.add('alert-secondary');
                    break;
                case 'Confirmed':
                document.getElementById(`orderStatus_${index}`).classList.add('alert-secondary');
                    break;
                case 'Cancelled':
                document.getElementById(`orderStatus_${index}`).classList.add('alert-danger');
                    break;
                case 'Delivered':
                document.getElementById(`orderStatus_${index}`).classList.add('alert-success');
                    break;
                case 'Returned':
                    document.getElementById(`orderStatus_${index}`).classList.add('alert-warnning');
                    break;
                default:
                    // Set a default class if the status doesn't match any specific case
                    document.getElementById(`orderStatus_${index}`).classList.add('alert-warnning');
            }
            }
        </script>




    </main>
<%-include('../../partials/adminFooter')-%>
    

      <!-- Add this to the head or before </body> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  

  
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>