<%- include('../../partials/adminHeader')-%>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div class="screen-overlay"></div>
    <%- include('../../partials/adminAside')-%>
    
    <main class="main-wrap">
<%- include('../../partials/adminNavbar')-%>
       
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Product List </h2>
                </div>
                <div>
                    <input type="text"  placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div> 
            <% if (messages.success) { %>
                <div class="alert alert-success" id="editSuccessMessage">
                    <%= messages.success %>
                </div>
            <% } else if (messages.error) { %>
                <div class="alert alert-danger" id="editErrorMessage">
                    <%= messages.error %>
                </div>
            <% } %>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3 d-flex">
                        
                            <div class=" col-lg-4 col-md-6 me-auto">

                                <form action="">
                                  <div class=" d-flex ">
                                        <input list="search_terms" type="text" name="search"  class="form-control" value="<%= search%>" placeholder="Search term">
                                        <button class="btn btn-light bg" type="submit"> <i class="material-icons md-search"></i></button>
                                    </div>
                                </form>
                            </div>

                            <div class=" col-lg-2 col-6 col-md-3">

                                <form action="">
                                 <div class="d-flex">
                                     <select class="form-select" name="category">
                                         <% categories.forEach((element)=>{ %>
         
                                             <option value="<%= element._id %>"><%= element.name %></option>
                                       <%  }) %>
                                      
                                     </select>
                                     <button class="btn btn-light bg" type="submit"> <i class="material-icons md-search"></i></button>
         
                                 </div>
                             </form>
                            </div>
                   
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead style="background-color: #088178; color: white;">
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Selling Price</th>
                                    <th scope="col">Regular Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                   
                                <span hidden id="statusSpan"><%=locals.message  ? message: ''%></span>
                                <span hidden id="statusSpan"><%=locals.errorData  ? errorData: ''%></span>
                            
                                 
                                    <% if(products.length> 0){ for(let i=0; i < products.length ; i++){
                                        %>
                                    <% if(!products[i].isDeleted )  {%>

                                <tr class="justify-content-center ">
                                    <td><%= i+1 %></td>
                                    
                                   <td>
                                       
                                        <div class="container  " style="overflow: hidden; height: 100px; width: 100px;">
                                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="overflow: hidden;">
                                                    <div class="carousel-inner">
                                            <% for(let j=0 ;j < products[i].image.length ; j++){ %>

                                                        <div class="carousel-item <% if (j==0) { %> active <% } %> ">
                                                            <div class="image-wrapper">
                                                                <img src="/static/admin/images/product/<%=products[i].image[j] %>" class="d-block " alt="..." style="object-fit: cover; object-position: center center;" width="100" height="100">
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                    
                                                    </div>
                                                </div>
                                        </div>
                                   </td>
                                    <td><b><%= products[i].name %></b></td>
                                    <td><b><%= products[i].categoryId.name %></b></td>
                                    <td><%= products[i].salePrice %></td>
                                    <td><%= products[i].regularPrice %></td>
                                    <td>
                                        <% if(products[i].isActive == 1 ) {%>
                                        <span class="badge rounded-pill alert-success"
                                          >Active</span
                                        >
                  
                                        <% } else{%>
                                        <span class="badge rounded-pill alert-danger"
                                          >Inactive</span
                                        >
                  
                                        <% }%>
                                      </td>               
                                      <td><%= products[i].stock %></td>
                                    <td class="text-end">
                                        <a href="#" class="btn btn-md rounded font-sm"   onclick="confirmStatusChange('<%= products[i]._id %>','<%= products[i].isActive %>')">Change Status</a>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                               
                                                <a class="dropdown-item" href="/admin/products/editProduct?id=<%= products[i]._id %>">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#" onclick="confirmDelete('<%= products[i]._id %>','<%= products[i].isActive %>')">Delete</a>
                                            </div>
                                        </div> 
                                        <!-- dropdown //end -->
                                    </td>
                                </tr>
                                <% } } }  else{ %> Users Not Found <% } %>
                             
                             
                               
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if (currentPage > 1) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>">Previous</a>
                            </li>
                        <% } %>
                
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>&search=<%= search %>&category=<%= category %>"><%= i %></a>
                            </li>
                        <% } %>
                
                        <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage + 1 %>&search=<%= search %>">Next</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
                
            </div>
        </section> <!-- content-main end// -->
<%- include('../../partials/adminFooter')-%>
        

      <script>

        // function for confirmation while blocking a category
            function confirmStatusChange(categoriesId, active) {
                const confirmationMessage = "Are you sure you want to change the status of the Product?";
                Swal.fire({
                    title: 'Confirmation',
                    text: confirmationMessage,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user confirms, navigate to the changeStatus route
                        window.location.href = `/admin/products/changeStatus?id=${categoriesId}&active=${active}`;
                    }
                });
            }

        // function for confirmation while blocking a product
             function confirmDelete(productId) {
                const confirmationMessage = "Are you sure you want delete the Product?";
                Swal.fire({
                    title: 'Confirmation',
                    text: confirmationMessage,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user confirms, navigate to the changeStatus route
                        window.location.href = `/admin/products/deleteProduct?id=${productId}`;
                    }
                });
            }
    
       
      // Get the value of the span tag
      const spanValue = document.getElementById('statusSpan').innerText;
    
      // Check if the value is 1
      if (spanValue === '1') {
        // Trigger SweetAlert
        Swal.fire({
          icon: 'warning',
          title: 'Already Exist',
          text: 'Product Already Exist !',
        });
        document.getElementById('statusSpan').innerText = 'none';
    
    
      }
      // Check if the value is 2
      if (spanValue === '3') {
        // Trigger SweetAlert
        Swal.fire({
          icon: 'success',
          title: 'Success',
          text: 'Product Updated  Sucessfully',
        });
        document.getElementById('statusSpan').innerText = 'none';
    
    
      }
     
            function confirmDeleteCategories(categoriesId) {
                Swal.fire({
                title: "Are you sure ?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                    title: "Deleted!",
                    text: "Category deleted Sucessfully.",
                    icon: "success"
                    });
                 }
            }).then((result) => {
                    
                        // If the user confirms, navigate to the changeStatus route
                        window.location.href = `/admin/deleteCategories?id=${categoriesId}`;                
                });;
         }
          
         setTimeout(() => {
                    const successMessage = document.getElementById('editSuccessMessage');
                    const errorMessage = document.getElementById('editErrorMessage');
        
                    if (successMessage) {
                        successMessage.remove();
                    }
        
                    if (errorMessage) {
                        errorMessage.remove();
                    }
                }, 3000);
          </script>
 