<%- include('../../partials/adminHeader')-%>

    <main class=" md-12">
    
        <section class="content-main md-12">
            <div class="content-header">
                <div>
                    <a href="/admin/home/"><h2 class="content-title card-title">Sales Report </h2></a>
                </div>
                 <div>
                    <a href="" onclick="printPage()" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Download Report</a>
                </div>
              
            </div>
            <div class="row ">
                <hr >
                <div class="col-md-12">
                    <div class="card mb-4">
                        <header class="card-header">
                            <div class="row gx-3 d-flex">
                                
                                  
                                    <div class=" col-lg-4 col-md-6 me-auto">
        
                                        <form action="">
                                          <div class=" d-flex ">
                                                <input list="search_terms" type="text" name="search"  class="form-control" placeholder="Search term">
                                                <button class="btn btn-light bg" type="submit"> <i class="material-icons md-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class=" col-lg-2 col-6 col-md-3">

                                        <form action="">
                                         <div class="d-flex">
                                             <select class="form-select" name="salesReportDuration">
                 
                                                     <option value="Weekly">Weekly </option>
                                                     <option value="Monthly">Monthly </option>
                                                     <option value="Yearly">Yearly </option>
                                               
                                              
                                             </select>
                                             <button class="btn btn-light bg" type="submit"> <i class="material-icons md-search"></i></button>
                 
                                         </div>
                                     </form>
                                    </div>
        
                                    <div class=" col-lg-2 col-6 col-md-3 mx-auto">
        
                                        <form action="">
                                         <div class="d-flex">
                                             <input type="date" class="form-control" name="fromDate">
                                             <input type="date" class="form-control" name="toDate">
                                           
                                             <button class="btn btn-light bg" type="submit" > <i class="material-icons md-search"></i></button>
                 
                                         </div>
                                     </form>
                                    </div>
                           
                            </div>
                        </header> <!-- card-header end// -->

                        <div class="card mb-4 col-md-12 col-sm-10">
                            <div class="card-body">
                                <h5 class="mb-3 d-flex align-items-center mx-auto md-12">Report</h5>
                                <form class="d-flex justify-content-center mx-auto p-15 md-12">
                                    <!-- Each statistic in a responsive column -->
                                    <div class="mb-4 align-items-center mx-auto">
                                        <span class="fs-6 font-weight-bold text-success mx-auto">
                                            <strong><%= locals.totalOrders ? totalOrders : ""%></strong>
                                        </span>
                                        <br><label for="order_id" class="form-label fs-6 font-weight-bold">Total no of Orders</label>
                                        <span></span>
                                    </div>
                        
                                    <div class="mb-4 mx-auto align-items-center">
                                        <span class="fs-6 font-weight-bold text-success mx-auto">
                                            <strong><%= locals.users ? users : ""%></strong>
                                        </span>
                                        <br><label for="order_customer" class="form-label fs-6 font-weight-bold">Number of Customer</label>
                                    </div>
                        
                                    <div class="mb-4 mx-auto align-items-center">
                                        <span class="fs-6 font-weight-bold text-success mx-auto">
                                            <strong><%= locals.onlinePayments ? onlinePayments : 0%></strong>
                                        </span>
                                        <br><label for="order_customer" class="form-label fs-6 font-weight-bold">Online Payments</label>
                                    </div>
                        
                                    <div class="mb-4 mx-auto align-items-center">
                                        <span class="fs-6 font-weight-bold text-success mx-auto">
                                            <strong><%= locals.offlinePayments ? offlinePayments : 0%></strong>
                                        </span>
                                        <br><label for="order_customer" class="form-label fs-6 font-weight-bold">Cash on Delivery</label>
                                    </div>
                        
                                    <div class="mb-4 mx-auto align-items-center">
                                        <span class="fs-6 font-weight-bold text-success mx-auto">
                                            <strong><%= locals.walletPayments ? walletPayments : 0%></strong>
                                        </span>
                                        <br><label for="order_customer" class="form-label fs-6 font-weight-bold">Wallet Payments</label>
                                    </div>
                        
                                    <div class="mb-4 mx-auto align-items-center">
                                        <span class="fs-4 text-success"><strong>₹ <%= locals.totalAmount ? totalAmount : ""%></strong></span>
                                        <br><label for="order_total" class="form-label fs-6">Total</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table  table-striped table-hover" >
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Customer name</th>
                                            <th>Price</th>
                                            <th>Payment Method</th>
                                            <th>Payment Status</th>
                                            <th>Order Status</th>
                                            <th>Date</th>
                                            <th class="text-end"> Action </th>
                                        </tr>
                                    </thead>
                                    <tbody  style="border-width: 3px;" >
                                        <% if (orders.length > 0) { %>
                                            <% orders.forEach((orderItem)=>{ %>
                                        <tr>
                                            <td><%= orderItem.orderId %></td>
                                            <td><b><%= orderItem.userDetails.name %></b></td>
                                            <td><%= orderItem.productDetails[0].salePrice %></td>
                                           
                                            <td>
                                                <% if ( orderItem.paymentMethod  == "Online") { %>
                                                    <span class="badge rounded-pill  text-primary ">
                                                        <%= orderItem.paymentMethod %>
                                                      </span>

                                                <% } else {%>
                                                        <span class="badge rounded-pill  text-success ">
                                                            <%= orderItem.paymentMethod %>
                                                          </span>
                                                        <% }%>
                                            </td>
                                           <td><span class="badge rounded-pill alert-success"><%= orderItem.paymentStatus %></span></td>
                                            <td>
                                                <% if ( orderItem.orderStatus  == "Cancelled") { %>
                                                    <span class="badge rounded-pill  alert-danger ">
                                                        <%= orderItem.orderStatus %>
                                                    </span>

                                                <% } else {%>
                                                        <span class="badge rounded-pill  alert-success ">
                                                            <%= orderItem.orderStatus %>
                                                        </span>
                                                        <% }%>
                                            </td>
                                            <td><%=orderItem.orderDate.toLocaleDateString()%></td>
                                            <td class="text-end">
                                                <a href="/admin/orders/orderDetails?id=<%=orderItem._id%>" class="btn btn-md rounded font-sm">Detail</a>
                                               
                                            </td>
                                        </tr>
                                        <%}); %>
                                        <%  } else {%>
                                            <p>No Orders found</p>
                                            <%}%>
                                       
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive //end -->
                        </div> <!-- card-body end// -->
                    </div> <!-- card end// -->
                </div>
               
            </div>

            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if (currentPage > 1) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>">Previous</a>
                            </li>
                        <% } %>
                
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>&search=<%= search %>&fromDate=<%= fromDate %>$toDate=<%= toDate %>"><%= i %></a>
                            </li>
                        <% } %>
                
                        <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage + 1 %>&search=<%= search %>">Next</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
                
            </div>
        </section> <!-- content-main end// -->
<%- include('../../partials/adminFooter')-%>

<script>
    function printPage(){
        window.print()
    }
</script>
      