<%-include('../layouts/headerUser')-%>



    <link rel="shortcut icon" type="image/x-icon" href="/static/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/static/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <div class="screen-overlay"></div>
  
    <main class="main-wrap mx-auto">
        <% if(order) { %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p >Details for Order ID: <p class="text-success"> <%=order.orderId %></p></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b> <%=order.orderDate %></b>
                            </span> <br>
                            <small class="text-muted">Order ID: <%= order.orderId %></small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                          
                            <a class="btn btn-primary" onclick="printInvoice()">Print Invoice</a>
                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= order.userId.name %><br> <%= order.userId.email %> <br> <%= order.userId.mobile %>
                                    </p>
                                    <a href="/home/profile">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Mong express <br> Pay method: <%= order.paymentMethod %> <br> Status: <span class="badge rounded-pill alert-success"><%= order.paymentStatus %></span>
                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        Name: <%= order.address[0].fullName %> <br> <%= order.address[0].houseName %><br> <%= order.address[0].city %> , &nbsp; <%= order.address[0].state %> <br> <%= order.address[0].pincode %>, &nbsp; <%= order.address[0].phone %>  <br>  <%= order.address[0].landMark %>
                                    </p>
                                    
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table " style="text-align: center;" >
                                    <thead class="" style="background-color: #088178; color:#ffff">
                                        <tr>
                                            <th width="26%">Product</th>
                                            <th width="13%">Unit Price</th>
                                            <th width="10%">Quantity</th>
                                            <th width="13%">Status</th>
                                            <th width="13%">Total</th>
                                            <th width="13%">Action</th>
                                            <th width="12%" class="text-end">Rate Product</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <% order.items.forEach(item => { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="/static/admin/images/product/<%= item.productId.image[0]%>"  class="img-md" alt="Item">
                                                    </div>
                                                    <div class="info"> <%= item.productId.name %></div>
                                                </a>
                                            </td>
                                            <td>₹ <%= item.productId.salePrice %></td>

                                            <% if ( item.productStatus  == "Cancelled") { %>
                                                <td> <%= item.cancelledQuantity %> </td>
                                                <td class="text-danger">
                                                    <%=item.productStatus%>
                                                </td>
                                                <td > ₹<%= item.productId.salePrice * item.cancelledQuantity %> </td>
                                                <td class="text-end">
                                                     <span class="badge badge-pill badge-soft-danger">Cancelled</span>

                                                 
                                                </td> 
                                                <% } else if ( item.productStatus  == "Returned") { %>
                                                    <td> <%= item.returnedQuantity %> </td>
                                                    <td class="text-danger ">
                                                        <%=item.productStatus%>
                                                    </td>
                                                    <td > ₹<%= item.productId.salePrice * item.returnedQuantity %> </td>
                                                    <td class="text-end">
                                                        <span class="badge badge-pill badge-soft-warning">Refunded</span>
                                                    </td> 
    
                                             <% } else {%>

                                                <td> <%= item.quantity %> </td>
                                                <td>
                                                    <%=item.productStatus%>
                                                </td>
                                                <td > ₹<%= item.productId.salePrice * item.quantity %> </td>
                                                <td class="">
                                                    <% if ( item.productStatus  == "Delivered") { %>
                                                    <a href="#" class=" btn-lg btn-primary rounded font-sm"   onclick="returnProduct('<%=item.productId._id%>','<%= order._id %>','<%=item.cancelledQuantity%>')"   >Return Product</a>
                                                    <% } else {%>
                                                     <a href="#" class=" btn-lg btn-danger rounded font-sm"   onclick="cancelProduct('<%=item.productId._id%>','<%= order._id %>','<%=item.quantity%>')">Cancel Order</a>
                                                     <% }%>
                                                </td>
                                                <td class="">
                                                    <% if( item.reviewed) { %>
                                                        <span class="text-success">Review Already Added</span>
                                                    <% } else { %>
                                                        <% if (order.orderStatus == "Delivered") {%>
                                                        <a class="btn btn-primary rounded" id="rateProductButton" onclick="rateProduct('<%= order._id%>','<%= item.productId._id%>','<%= item.productId.name%>')">Rate the Product</a>
                                                        <% } else { %>
                                                        <span class="text-success"> Product is not Delivered </span>
                                                        <% } %>

                                                        <% } %>
                                                </td>

                                             <% }%>


                                           
                                        </tr>
                                        <% }); %>
                                      
                                        <tr>
                                            <td colspan="7">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>₹<%= order.totalAmount %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>0.00</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">₹<%= order.totalAmount %></b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success"><%= order.paymentStatus %></span>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                      
                        
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <% } else { %>
            <h2>Details unavailable</h2>
      <%  } %>
    
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> 
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>

        <script>

function cancelProduct(productId, orderId,quantity) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'Please provide a reason for canceling the order:',
        input: 'text',
        showCancelButton: true,
        confirmButtonText: 'Yes, cancel it!',
        cancelButtonText: 'No, keep it',
        preConfirm: (reason) => {
            if (!reason) {
                Swal.showValidationMessage('Reason is required');
            } else {
                console.log(reason)
                // If a reason is provided, proceed with the cancellation
                return fetch("/home/profile/order/orderDetails/cancelOrder", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        orderId: orderId,
                        productId: productId,
                        cancelledQuantity:quantity,
                        reason: reason,
                    }),
                });
            }
        },
    })
    .then((result) => {
        if (result.isConfirmed) {
            // Handle the response if needed
            if (result.value && result.value.ok) {
                Swal.fire('Cancelled!', 'Your order has been canceled.', 'success').then(()=>{
                    window.location.reload()
                })
            } else {
                Swal.fire('Error!', 'Failed to cancel the order.', 'error');
            }
        }
    })
    .catch((error) => {
        console.error('Error during order cancellation:', error.message);
        // Show an error message to the user if fetch fails
        Swal.fire('Error!', 'Failed to cancel the order. Please try again.', 'error');
    });
}

function returnProduct(productId, orderId,quantity) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'Please provide a reason for Returning the Product:',
        input: 'text',
        showCancelButton: true,
        confirmButtonText: 'Yes, Return it!',
        cancelButtonText: 'No, keep it',
        preConfirm: (reason) => {
            if (!reason) {
                Swal.showValidationMessage('Reason is required');
            } else {
                console.log(reason)
                // If a reason is provided, proceed with the cancellation
                return fetch("/home/profile/order/orderDetails/returnOrder", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        orderId: orderId,
                        productId: productId,
                        returnedQuantity:quantity,
                        reason: reason,
                    }),
                });
            }
        },
    })
    .then((result) => {
        if (result.isConfirmed) {
            // Handle the response if needed
            if (result.value && result.value.ok) {
                Swal.fire('Returned!', 'Your order has been returned.', 'success').then(()=>{
                    window.location.reload()
                })
            } else {
                Swal.fire('Error!', 'Failed to Return the order.', 'error');
            }
        }
    })
    .catch((error) => {
        console.error('Error during order Returning:', error.message);
        // Show an error message to the user if fetch fails
        Swal.fire('Error!', 'Failed to Return the order. Please try again.', 'error');
    });
}
function printInvoice(){
    window.print()
}
      
        </script>
    </main>
    <script src="/static/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/static/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/static/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/static/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/static/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/static/admin-assets/js/main.js" type="text/javascript"></script>

    <!-- JS link (include this before your closing </body> tag) -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!-- Add this to the head or before </body> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />


<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="bannerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="offerModalLabel">Banner Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" onclick="closeModal()">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
            <div class="text-center">
               
            </div>
          <form >
            <div class="form-group d-flex justify-content-center">
              <!-- <label for="productName">Product Name:</label> -->
              <input type="text" name="productId" id="productid" hidden>
              <input type="text" name="orderId" id="orderid" hidden>
              <h4 id="productname" class="text-success">Monk</h4>
              <!-- <input type="text" class="form-control" name="productName" oninput="validateField(this)"  required> -->
              <span id="bannerNameError" class="text-danger"> </span>
            </div>
           
              
              
            <div class="form-group">
                <label for="rating">Rating:</label>
                <div class="custom-select">
                    <select class="form-control" id="rating" name="rating" required>
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                </div>
                <span id="ratingError" class="text-danger"> </span>
            </div>
             
            
            <div class="form-group">
                <label for="review">Review:</label>
                <textarea class="form-control" id="review" name="review" rows="4" oninput="validateReview()" required></textarea>
                <span id="reviewError" class="text-danger"> </span>
            </div>
            <div class="d-flex justify-content-center">
             <button type="button" class="btn btn-primary " onclick="submitReview()" id="updateBanner">Rate Product</button>
            </div>                        
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-secondary " onclick="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
<script>
    function submitReview(){
        const productId = document.getElementById('productid').value
        const orderId = document.getElementById('orderid').value
        const rating = document.getElementById('rating').value
        const review = document.getElementById('review').value
        console.log(productId,rating,review)
        fetch('/home/profile/order/orderDetails/submitReview', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json', 
            },
            body: JSON.stringify({
                productId:productId,
                orderId:orderId,
                rating:rating,
                review:review
            }),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); 
            })
            .then(data => {
                console.log('Review submitted successfully:', data);
                if(data.success){
                    toastr.success(data.message)
                    closeModal()
                    document.getElementById('rateProductButton').style.display = 'none'
                }else{
                    toastr.warning(data.message)
                }
            })
            .catch(error => {
                console.error('Error during fetch:', error);
            });
    }
      function validateReview() {
       
            var reviewValue = document.getElementById('review').value.trim();

            if (reviewValue.length === 0) {
                reviewError.textContent = "Please provide a review.";
                document.getElementById('reviewError').innerText = "Please provide a review."
            } else {
                document.getElementById('reviewError').innerText = "";
            }
        }


    function rateProduct(orderId,productId,name){
        console.log(orderId,productId,name)
        document.getElementById('productid').value = productId;
        document.getElementById('productname').value = name;
        document.getElementById('orderid').value = orderId;
      

       
                $('#reviewModal').modal('show');
    }
    function closeModal(){
        document.getElementById('productid').value = " ";
        document.getElementById('productname').value = " ";
        document.getElementById('orderid').value = "";
        document.getElementById('review').value = "";
        document.getElementById('rating').value = "";
        $('#reviewModal').modal('hide');
    
    }
</script>
</body>
</html>